.x{
    background-color: #1e202b;
    padding-left: 120px;
     padding-right:  120px;
   
}
.y a{
     color: white  !important;
     
}
.left-nav .text h6{
    color: white;
}
.main{
    background-image: url(../images/banner.png);

    /* background-size: cover; */

    background-repeat: no-repeat;
    /* background-position:  center; */
    position: relative;
   /* top: 0; */
   background-color:#1e202b;
  
 
    height: 80vh;

}
.find-location {
    position: relative;
    margin-top: 50px;
}
.find-location input[type="text"] {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
}
form input, form textarea, form select {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 30px;
}
.find-location input[type="submit"], .find-location input[type="button"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
}
.button, form input[type="submit"], form input[type="button"], form button, form input[type="reset"] {
    border: none;
    background: #009ad8;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}
.icons i{
    width: 40px;
    height: 40px;
   
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    
   
    font-size: 20px;
}
.icons{
    color: #009ad8;
}
.footer {
  background-color: #262936;
  
}
.weather-card {
  background-color: #323544;
  color: white;
  border-radius: 8px;
  text-align: center;
  height: 100%;
  padding: 40px;
}

.weather-card.today {
  background-color: #1e202b;
}

.weather-card img {
  width: 80px;
}

.temp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.weather-card h4{
    margin: 15px 0;
}
.weather-card h3{
    margin: 15px 0;
 }
  .weather-card h2 {
  margin: 15px 0;
}

.weather-card p {
  margin: 5px 0;
}
